.navbar-colors {
  color: #2b2d42;
  background-color: #98C1D9;
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  grid-column: 1 / span 3;
  grid-row: 1;
}

.navbar-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar-flex-end {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10%;
}
